<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>food!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css" />
   
  </head>
  <body id = "body">
<header id = "mainHeader">
  <div class = "navBar"> 
    <ul>
      <li><a href="/">Главная</a></li> 
      <% if(currentUser && currentUser.isAdmin) { %>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/table">Table</a></li>
      <li><a href="/userList">Users</a></li>
      <%  } %> 
      <% if(currentUser) { %>
        <li><a href="/main/users/<%= currentUser.name %> ">Кабинет</a></li>
        <% } %>
        <% if(!currentUser){ %>
          <li><a href="/login">Войти</a></li>
   <% } %> 
      
    </ul>
  </div>
</header>





