h2{
    font-size: 2rem;
    text-align: left;
}
.wrapperAll{
    padding: 10% 20% 0;
}
body{
    background-color: #212832;
    color:white;
}
.form__favorite{
    padding: 5% 20% 0;
}
.img-dish{
    position:relative;
    float:right;
    max-width: 50%;
    left: 25%;
}
.ingredients li{
    list-style: disc;
    
}
.ingredients{
    padding: 25px 0 25px 19px;
  
}

@media only screen and (max-width: 1200px){
.img-dish{
    display: none;
}
}