h2{
    font-size: 2rem;
    text-align: left;
}
.wrapperAll{
    padding: 4% 20% 0 ;
    
}
body{
    background-color: #212832;
    color:white;
}
.form__favorite{
    padding-top: 20px;
}
.img-dish{
    position:relative;
    float:right;
    max-width: 50%;
    left: 25%;
}
.wrapper li{
    
    padding-bottom: 7px;
}
.ingredients{
  margin-bottom: 10px;  
  
}
.recipe{
    padding-top: 20px;
}
@media only screen and (max-width: 1200px){
.img-dish{
    display: none;
}
}