h2{
    font-size: 2rem;
    text-align: left;
}
.wrapperAll{
    padding: 4% 20% 0 ;
    
}
body{
    background-color: #212832;
    color:white;
}
.form__favorite{
    padding-top: 20px;
}
.img-dish{
    position:relative;
    float:right;
    max-width: 50%;
    left: 25%;
}
.ingredients {
    list-style-type: none;
    padding: 5px 0;
}
.ingredients li {
    margin-bottom: 7px;
}
.ingredients li:last-child {
    margin-bottom: -12px;
}

  .recipe{
    padding-top: 20px;
}
@media only screen and (max-width: 1200px){
.img-dish{
    display: none;
}
}