/** HEADER **/
#mainHeader{
  height: 53.8px;
  width: 100%;
  background-color:#202020;
  margin: 0;
  padding: 0;
}

.navBar ul {
  margin: 0;
  padding: 0;
  list-style-type:none;
}

.navBar ul li {
  float: left;
}

.navBar ul li a {
  display: block;
  color: #DADADA;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.navBar ul li a:hover {
  background-color: #111111;
}


/*! Other !*/
body{
  margin: 0;  
  padding: 0;
  
}
a{
  color:#fff;
}


h1,h2,h3,h4,h5{
  margin:0;
  font-family: 'Oswald', sans-serif;
  size: 55px
}

h2 span{
  color:black;
  font-size: 5rem;
}
p,li,ul,a{
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  text-decoration: none;
}



