
table{
    margin: 0 auto;
    width: 50%;
    border-collapse: collapse;
  }
  table td,table th{
    border: 1px solid #333;
    text-align: left;
    
  }
  table td {
    font-size: 1.2rem;
  }
  table thead {
    font-size:2rem;
  }
  a{
      color: #000;
      text-decoration: none;
  }
  .edit{
      margin: 2.5rem;
      display:inline-block;
  }
  .gotoDelete{
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .bodyUpdate{
    width: 100%;
    background: 
        url("/images/update.jpg");
        background-size: cover;
        color:white;
        background-attachment: fixed;
  }
  .bodyDelete{
    width: 100%;
    background: 
        url("/images/warning.jpg");
        background-size: cover;
        background-attachment: fixed;
  }
  